//
// Buttons
// --------------------------------------------------


// Button Sizes
// --------------------------------------------------

// Covide
.btn.btn-covide {
  font-size : 17px;
  font-weight: bold;
  padding   : @paddingLarge;
  .border-radius(@borderRadiusLarge);
  width: 120px;
}



.btn-covide [class^="icon-"],
.btn-covide [class*=" icon-"] {
  margin-top : 4px;
}
