//
// Buttons
// --------------------------------------------------

.btn-create {
  display : block;
  margin  : 0 auto;
  width   : 120px;
}

.btn-large {
  font-size   : 17px;
  font-weight : bold;

  [class^="icon-"],
  [class*=" icon-"] {
    margin-top : 4px;
  }
}
