body {
  padding          : 20px 0 40px;
  min-width        : @minBodyWidth;
  background-image : url(@bgurl);
}

@media (min-width: 768px) and (max-width: 1585px) {
  .hidden-desktop { display : inherit !important; }

  .visible-desktop { display : none !important; }

  .visible-tablet { display : inherit !important; }

  .hidden-tablet { display : none !important; }
}

// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input { // Focus state
  &:focus { //border-color: rgba(82,168,236,.8);
    border-color : rgba(247, 148, 30, .8);
    outline      : 0;
    outline      : thin dotted     \9; /* IE6-9 */ // .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247,148,30,.6)");
  }
}

.covide-head, .covide-foot {
  position : relative;
  z-index  : 10px;
}

.covide-content {
  position : relative;
  z-index  : 1px;
}

.breadcrumb {
  background-color : #E5E5E5;
}

.breadcrumb-covide {
  background-color : #E5E5E5;
  border           : 1px solid #D6D6D6;
  border-width     : 1px 0;
  .box-shadow(~"0 0 1px #FFFFFF");
  padding-left     : 5px;
  margin-bottom    : 15px;

  a {
    background      : url("../../img/breadcrumb.png") right center no-repeat;
    color           : #666666;
    display         : inline-block;
    font-size       : 14px;
    padding         : 8px 20px 8px 10px;
    text-decoration : none;

    &:last-child {
      background-image : none;
    }

    &.current {
      color       : #444444;
      font-weight : bold;
    }
  }
}

.title-button {
  padding-top : 10px;

  .btn-group{
	margin-left: 10px;
  }

  .size-small{
	font-size: 9px;
  }
  .size-big{
	font-size: 17px;
  }
}

/* Available font sizes */
.fs-smaller {
  font-size: @baseFontSize - 1;
}

.fs-normal {
  font-size: @baseFontSize;
}

.fs-bigger {
  font-size: @baseFontSize + 1;
}

.popover-relation {
  width : 100%;
}

.badge-shadow {
  .box-shadow(~"inset 0 2px 3px rgba(0, 0, 0, 0.7), 0 2px 0 rgba(255, 255, 255, 0.2)");
}

.label-active {
  padding : 4px 8px;
}

.progress-small {
  height        : 9px;
  margin-bottom : 4px;
  margin-top    : 6px;
}

//
// Tables
// --------------------------------------------------

.table-borderless {
  td, th {
    border-top: 0;
  }
}
