//
// Forms
// --------------------------------------------------

//
// Filters widget
// --------------------------------------------------

.search-widget {
  .main-search {
    display         : block;
    -moz-box-sizing : border-box;
    box-sizing      : border-box;
    min-height      : 30px;
    width           : 83%;
  }

  button[type="submit"] {
    position : absolute;
    right    : 0;
    top      : 0;
    width    : 15%;
  }

  .search-link {
    margin-right : 20px;
  }

  .extra-wrap {
    display : none;
  }

  .show-extra {
    .main-search {
      width : 100%;
    }

    button[type="submit"] {
      margin-top : -6px;
      position   : static;
    }

    .extra-wrap {
      display : block;
    }
  }

  .search-form {
    margin-bottom : 0px;
    position      : relative;
  }
}

fieldset {
  border-bottom  : 1px solid @grayLighter;
  margin-bottom  : 10px;
  padding-bottom : 10px;
}

legend {
  margin-bottom : 10px;
  font-size     : @baseFontSize;
  font-weight   : 700;
  line-height   : @baseLineHeight;
  color         : @black;
  border        : 0;

  .muted {
    font-weight : 400;
  }
}

.classification-select {
  height : 300px;
  width  : 500px;
}

.fieldset-group {
	legend {
	float: left;
	}
	input[type="checkbox"] {
	margin-left: -20px;
	}
	
	fieldset {
		background: #E5E5E5;
		border-bottom  : 0;
		.border-radius(@baseBorderRadius);
		.box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
		margin-top  : 12px;
		margin-bottom  : 0px;
		padding : 10px;
	}
	fieldset.attachment{
		min-height: 140px;
	}
	
}