//
// Navbars Covide
// --------------------------------------------------

//// Recall Icons Font-Size for Navigation
.navbar-covide {
  margin-bottom: 0;
  
  .nav {
    margin-right : 0px;

    & > li > a {
      padding-left  : 10px;
      padding-right : 10px;
    }

    .dropdown.hover-menu:hover > .dropdown-menu {
      display    : block;
      margin-top : 0px;
    }
  }

  .divider-vertical {
    margin : 0 auto;
  }

  .dropdown.hover-menu:hover > .dropdown-menu {
    display    : block;
    margin-top : 0px;
  }

  a.menu:after, .hover-menu.dropdown-toggle:after {
    content : none;
  }
}
