//
// Icons for File Managment
// ------

[class^="silkicon-"],
[class*=" fcicon-"] {
  display                : inline-block;
  width                  : 16px;
  height                 : 16px;
  line-height            : 16px;
  vertical-align         : top;
  margin-top             : 0;
}


.silkicon-folder{
	background:transparent url("/ico/silk_ico/folder.png") center left no-repeat;
}

.silkicon-folder_brick{
	background:transparent url("/ico/silk_ico/folder_brick.png") center left no-repeat;
}

.silkicon-google{
	background:transparent url("/ico/silk_ico/google.png") center left no-repeat;
}

.silkicon-folder_user{
	background:transparent url("/ico/silk_ico/folder_user.png") center left no-repeat;
}

.silkicon-folder_table{
	background:transparent url("/ico/silk_ico/folder_table.png") center left no-repeat;
}

.silkicon-folder_link{
	background:transparent url("/ico/silk_ico/folder_link.png") center left no-repeat;
}

.silkicon-folder_magnify{
	background:transparent url("/ico/silk_ico/folder_magnify.png") center left no-repeat;
}

.silkicon-folder_lightbulb{
	background:transparent url("/ico/silk_ico/folder_lightbulb.png") center left no-repeat;
}

.silkicon-folder_key{
	background:transparent url("/ico/silk_ico/folder_key.png") center left no-repeat;
}

.silkicon-folder_picture{
	background:transparent url("/ico/silk_ico/folder_picture.png") center left no-repeat;
}

.silkicon-folder_page{
	background:transparent url("/ico/silk_ico/folder_page.png") center left no-repeat;
}
