//
// Wells
// --------------------------------------------------

.well {
  margin-bottom : 10px;
  padding       : 8px;
}

.well-title {
  margin-bottom : 10px;

  &:after {
    display : table;
    clear   : both;
    content : " ";
  }
}

.well-covide {
  background    : #FFFFFF;
  border        : 1px solid #FFFFFF;
  box-shadow    : none;
  margin-bottom : 10px;
  padding       : 8px;

  .title {
    font-size   : @baseFontSize * 1.25;
    font-weight : @headingsFontWeight;
    line-height : @baseLineHeight;
  }

  .dropdown form > input[type="radio"], input[type="checkbox"] {
    margin-left : 10px;
  }
}

.well-small {
  margin-bottom : 10px;
}
