//
// Navbars Covide
// --------------------------------------------------


ul.nav li.dropdown.hover-menu:hover > ul.dropdown-menu{
    display: block;    
	margin-top: 0px;
}

a.menu:after, .hover-menu.dropdown-toggle:after {
  content: none;
}

ul.nav li.dropdown.hover-menu.open > ul.dropdown-menu{
  display: none;
  margin-top: 0px;
}

.navbar-covide .divider-vertical
{
	margin: 0 auto;
}

.navbar .nav{
	margin-right: 0px;
}